In [23]:
#sklearn has the ML libraries
import pandas as pandu
from numpy import *
from sklearn import linear_model
import csv
import warnings
warnings.filterwarnings('ignore')
from sklearn import preprocessing
dataset = pandu.read_csv('train.csv',sep=',')

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [13]:
df= dataset[['Id','Elevation','Aspect','Slope','Horizontal_Distance_To_Hydrology','Hillshade_9am','Hillshade_Noon']];
df['HC']= (df['Hillshade_Noon'] - df['Hillshade_9am']) / df['Hillshade_Noon'] * 100 

df.fillna(-9999,inplace=True)
df.head(6)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Hillshade_9am,Hillshade_Noon,HC
0,1,2596,51,3,258,221,232,4.741379
1,2,2590,56,2,212,220,235,6.382979
2,3,2804,139,9,268,234,238,1.680672
3,4,2785,155,18,242,238,238,0.000000
4,5,2595,45,2,153,220,234,5.982906
5,6,2579,132,6,300,230,237,2.953586

In [25]:
forecast_out = int(math.ceil(0.1*len(df)))
forecast_Col = 'Elevation' #should be something that's a price
df['label'] = df[forecast_Col].shift(-forecast_out)
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Hillshade_9am,Hillshade_Noon,HC,label
0,1,2596,51,3,258,221,232,4.741379,2720.0
1,2,2590,56,2,212,220,235,6.382979,3090.0
2,3,2804,139,9,268,234,238,1.680672,2755.0
3,4,2785,155,18,242,238,238,0.000000,2706.0
4,5,2595,45,2,153,220,234,5.982906,3250.0